.boton-amarillo, .boton-azul, .boton-rojo{
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px 75px;
    margin: 50px;
    transition: box-shadow 0.3s ease;
}

.boton-amarillo:hover,
.boton-azul:hover,
.boton-rojo:hover,
.boton-atras-princ:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);
  border-color:honeydew
}

.boton-amarillo {
    background-color: yellow;
    
  }
  
  .boton-azul {
    background-color: blue;
    
  }
  
  .boton-rojo {
    background-color: red;
    
  }

  .boton-atras-princ{
    cursor: pointer;
    color: aliceblue;
    background-color: #2c313b;
    transition: box-shadow 0.3s ease;
    font-size: 18px;
    padding: 10px 10px;
    margin: 50px;
  }